# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/
/x64/
/Solution/.vs/Solution/v16/
*.ilk
*.tlog
*.recipe
*.pdb
*.log
*.idb
/Solution/Chapter04/x64/Debug
/Solution/Chapter03/x64/Debug
/Solution/Chapter02/x64/Debug
