# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Solution/.vs/Solution/v16/Preview
/Solution/Solution.sln
/Solution/Chapter02/Chapter02.vcxproj.user
/Solution/Chapter02/Chapter02.vcxproj.filters
/Solution/Chapter02/Chapter02.vcxproj
/Solution/Chapter02/Debug
/Solution/Debug
/Solution/.vs/Solution/v16
